{% extends 'blog/base.html' %}
{% load static %}

{% block content %} 

    <div class="col-sm-10"> 
        <h3 class="text-white my-5">About Page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, fuga molestiae vero excepturi tenetur veniam at recusandae velit doloribus aliquid, atque, perspiciatis qui consequuntur accusantium vel voluptatibus optio expedita esse perferendis dignissimos dolorem? Autem ex provident rerum pariatur voluptates? Quia, vel? Sed atque rerum illum amet, est maxime adipisci. Iure.</p>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quidem repellendus alias eius quos dignissimos minus sit, voluptate blanditiis qui! Nam, tempora ea nisi mollitia eius cum blanditiis sit non commodi quidem officia aut aliquid dolores, natus accusantium. Aperiam deleniti facere enim quaerat, placeat quia nostrum! Optio nihil sunt vero quos repellat illum, placeat accusantium nisi officia iure. Doloremque, adipisci saepe cum illum tenetur, excepturi ipsum libero veniam atque quis qui velit doloribus, reiciendis sapiente. Amet eius doloribus sapiente quis!</p>
    </div>

{% endblock content %}