{% extends 'blog/base.html' %}
{% load static %}

{% block content %} 

    <div class="col-sm-10"> 
        <h3 class="text-white my-4">SignUp Page</h3>
        {% comment %} {{form.as_p}} {% endcomment %}
        <form action="" method="">
            {% csrf_token %}

            {% for fm in  form %}
                <div class="form-group ">
                    {{fm.label_tag}} {{fm}} {{fm.error | striptags}}
                </div>    
            {% endfor %}

            <input class="btn btn-primary my-3" type="submit" value="Submit">

            {% if form.non_field_errors %}
                {% for error  in form.non_field_errors %}
                    <p> {{error}}</p>
                {% endfor %}
            {% endif %}
        </form>
    </div>

{% endblock content %}